{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css"
      type="text/css"
    />
    <link rel="stylesheet" href="{% static 'css/mapPage.css' %}" />
    <title>Interactive Maps</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <header>
      <h1>
        <a href="{% url 'home' %}" class="home">
          <div class="logo one">Ascent+</div>
          <div class="logo two">Interactive</div>
        </a>
      </h1>
      <div class="pages">
        <a href="{% url 'home' %}" class="page-link">Home</a>
        <a href="{% url 'map' %}" class="page-link">Map</a>
        <a href="{% url 'aboutme' %}" class="page-link">About</a>
      </div>
    </header>

    <div id="map" style="width: 100%; height: 70vh"></div>

    <div id="menu">
      <input
        id="streets-v11"
        type="radio"
        name="rtoggle"
        value="streets"
        checked="checked"
      />
      <!-- See a list of Mapbox-hosted public styles at -->
      <!-- https://docs.mapbox.com/api/maps/styles/#mapbox-styles -->
      <label for="streets-v11">streets</label>
      <input id="light-v10" type="radio" name="rtoggle" value="light" />
      <label for="light-v10">light</label>
      <input id="dark-v10" type="radio" name="rtoggle" value="dark" />
      <label for="dark-v10">dark</label>
      <input
        id="navigation-night-v1"
        type="radio"
        name="rtoggle"
        value="night"
      />
      <label for="navigation-night-v1">night</label>
      <input
        id="satellite-streets-v11"
        type="radio"
        name="rtoggle"
        value="satellite"
      />
      <label for="satellite-streets-v11">satellite</label>
    </div>

    <script>
      mapboxgl.accessToken =
        "pk.eyJ1IjoiaGFtc2llIiwiYSI6ImNsODN4aWdmcjBhNHEzcGw4ZXYxMHcxaXkifQ.67o9saEURWg3rF02gZxGKg";
      const map = new mapboxgl.Map({
        container: "map", // container ID
        style: "mapbox://styles/mapbox/streets-v11", // style URL
        center: [-73.93, 40.73], // starting position [lng, lat]
        zoom: 11, // starting zoom
        projection: "globe", // display the map as a 3D globe
      });

      const layerList = document.getElementById("menu");
      const inputs = layerList.getElementsByTagName("input");

      for (const input of inputs) {
        input.onclick = (layer) => {
          const layerId = layer.target.id;
          map.setStyle("mapbox://styles/mapbox/" + layerId);
        };
      }

      const nav = new mapboxgl.NavigationControl({
        visualizePitch: true,
      });
      map.addControl(nav, "bottom-right");

      map.on("style.load", () => {
        map.setFog({
          color: "rgb(186, 210, 235)", // Lower atmosphere
          "high-color": "rgb(36, 92, 223)", // Upper atmosphere
          "horizon-blend": 0.02, // Atmosphere thickness (default 0.2 at low zooms)
          "space-color": "rgb(11, 11, 25)", // Background color
          "star-intensity": 0.6, // Background star brightness (default 0.35 at low zoooms )
        });
      });
    </script>

    <button onclick="showmarker()">Grocery Stores</button>
    <button onclick="showmarker2()">Farmers Markets</button>
    <button onclick="showmarker3()">Fire Stations</button>
    <button onclick="showmarker4()">Find Nearest</button>

    <script>
               var marker1showing = false;
               var marker2showing = false;
               var marker3showing = false;
               var marker4showing = false;
               var marker1s = [];
               var marker2s = [];
               var marker3s = [];
               var marker4s = [];
               function showmarker()
               {
                 if(!marker1showing)
                 {
                     marker1showing = true;
                     {% for address in addresses %} var marker = new
                               mapboxgl.Marker().setLngLat([{{ address.long }}, {{ address.lat }}]).addTo(map); marker1s.push(marker); {% endfor %}
                 }
                 else
                 {
                     marker1showing = false;
                     marker1s.forEach((marker) => marker.remove());
                 }
               };
               function showmarker2(){
               if(!marker2showing)
               {
                   marker2showing = true;
                                 {% for farmer_address in farmer_addresses %} var marker = new
                               mapboxgl.Marker({
         color: "#228B22"}).setLngLat([{{ farmer_address.long }}, {{ farmer_address.lat }}]).addTo(map); marker2s.push(marker); {% endfor %}
               }
                 else
                 {
                     marker2showing = false;
                     marker2s.forEach((marker) => marker.remove());
                 }
               };
               function showmarker3(){
               if(!marker3showing)
               {
                   marker3showing = true;
                                 {% for fire_address in fire_addresses %} var marker = new
                               mapboxgl.Marker({
         color: "#FF0000 "}).setLngLat([{{ fire_address.long }}, {{ fire_address.lat }}]).addTo(map); marker3s.push(marker); {% endfor %}
               }
                 else
                 {
                     marker3showing = false;
                     marker3s.forEach((marker) => marker.remove());
                 }
               };

         function showmarker4(){
          if(!marker4showing){
            marker4showing = true;

      var directions = new MapboxDirections({
        accessToken: mapboxgl.accessToken,
      })

      map.addControl(directions, "top-left").addTo(map);
          }
        }
    </script>
  </body>
</html>
